<div class="container">
    <div class="card  mt-3 mb-5">
        <div class="card-header">
            <div class="d-flex justify-content-between p-3">
                <div class="image">
                    <img src="https://images.vexels.com/media/users/3/200983/isolated/lists/5a3e7089ab1cc14a2c18a65d44694b5a-hand-with-question-mark-icon.png"
                        alt="logo" width="100" height="100" />
                </div>
                <div class="quiz-header">
                    <h4>Angular Knowledge Quiz</h4>
                    <span>Welcome {{ name }}</span>
                </div>
            </div>
        </div>
        <div class="card-body " *ngIf="!quizCompleted">
            <ng-container *ngIf="!quizCompleted">
            </ng-container>
        </div>
        <div class="card-footer" *ngIf="!quizCompleted">
            <ng-container *ngIf="!quizCompleted">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row mt-3 mx-2">
                            <div class="col-md-2">
                                <div class="row d-flex justify-content-between">
                                    <img class="img-fluid col-sm-12 mx-auto"
                                        src="https://img.icons8.com/external-wanicon-flat-wanicon/452/external-badge-award-and-success-wanicon-flat-wanicon.png"
                                        width="70" height="70" alt="" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="result text-center col-sm-12">
                                    <h4>Congratulations <b>{{ name }}</b> You have successfully completed !! </h4>
                                    <p>Total questions attempted : {{ questions.length }}</p>
                                    <p>Correct answers : {{ correctAnswers }}</p>
                                    <p>Your score : <b>{{ points }} Points</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
          </div>
</div>
